.FormInline input[type="radio"]:checked+label>img,
.FormInline input[type="checkbox"]:checked+label>img,
.FormInline input[type="radio"]:checked+label>div img,
.FormInline input[type="checkbox"]:checked+label>div img {
    border-radius: 50%;
    background-color:#9C27B0;
}

.FormInline .imgInline {
    width: 200px;
}

.FormInline .FieldsInline{
    display: flex;
    justify-content: center;
}

.FormInline .FieldsInline label img{
    width: 80px;
    margin: 0 10px;
}


@media screen and (min-width: 600px) {
    .FormInline .imgInline {
        width: 300px;
    }
    .FormInline .FieldsInline label img{
        width: 100px;
    }
    .FormInline .FieldsInline>div{
        width: 25%;
    }
}

