@font-face {
    font-family: 'Big John';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/BIG-JOHN.otf');
}

html,
body,
p,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
button,
input,
textarea {
    color: white;
    font-family: 'Big John';
    letter-spacing: 1px;
    font-weight: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #1500ff, #004eff, #0072ff, #008eff, #00a7ff, #00acff, #00b1ff, #00b6ff, #00aaff, #6995ff, #b971ff, #fe1aff);
}

@media screen and (min-width: 600px) {
    body {
        background-image: linear-gradient(to right bottom, #fe1aff, #c367ff, #8387ff, #439aff, #1aa5ff, #0fa0ff, #049cff, #0097ff, #0080ff, #0067ff, #0046ff, #1500ff);
    }
}

#webiform {
    height: 100%;
}

#FormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
}

#FormContainer .pointer {
    cursor: pointer;
}

#FormContainer .FormInside {
    width: 100%;
}

#FormContainer .button-check {
    width: 40px;
    border-radius: 20px;
    height: 15px;
    background: gray;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    /* border: 3px solid gray; */
}

#FormContainer .option-checked {
    -webkit-box-shadow: 0px 0px 30px #e91e63;
    -moz-box-shadow: 0px 0px 30px #e91e63;
    box-shadow: 0px 0px 30px #e91e63;
}

#FormContainer .btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#FormContainer .btn-container.btn-only {
    justify-content: center;
}

#FormContainer .btn-both {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#FormContainer .btn-next {
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}

#FormContainer .btn-prev {
    background: #ff5252;
    background: -webkit-linear-gradient(45deg, #ff5252, #f48fb1) !important;
    background: -moz- oldlinear-gradient(45deg, #ff5252, #f48fb1) !important;
    background: -o-linear-gradient(45deg, #ff5252, #f48fb1) !important;
    background: linear-gradient(45deg, #ff5252, #f48fb1) !important;
}

#FormContainer input[type="radio"]:checked+label>.button-check,
#FormContainer input[type="checkbox"]:checked+label>.button-check,
#FormContainer input[type="radio"]:checked+label>div .button-check,
#FormContainer input[type="checkbox"]:checked+label>div .button-check {
    background-color: green;
    /* border-color: green; */
}

#FormContainer .ContainerFieldsInline {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* #FormContainer .ContainerFieldsInline input[type="radio"]+label,
#FormContainer .ContainerFieldsInline input[type="checkbox"]+label {
    padding: 8px;
    border: 1px solid black;
    margin: 0 15px;
}


#FormContainer input[type="radio"]:checked+label,
#FormContainer input[type="checkbox"]:checked+label {
    background-color: gray;
} */

#FormContainer input[type="radio"],
#FormContainer input[type="checkbox"] {
    display: none;
}

.UserDetail>div {
    margin: 10px;
}