.FormContainer {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.FormContainer .ContainerFieldsInline {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.FormContainer .ContainerFieldsInline input[type="radio"]+label,
.FormContainer .ContainerFieldsInline input[type="checkbox"]+label {
    padding: 8px;
    border: 1px solid black;
    margin: 0 15px;
}


.FormContainer .ContainerFieldsInline input[type="radio"]:checked+label,
.FormContainer .ContainerFieldsInline input[type="checkbox"]:checked+label {
    background-color: gray;
}

.FormContainer .ContainerFieldsInline input[type="radio"],
.FormContainer .ContainerFieldsInline input[type="checkbox"]{
    display: none;
}

.UserDetail > div{
    margin: 10px;
}